{% extends "base.html" %}
{% from "form_macros.html" import render_field %}
{% block content %}
    <div id="user_panel" class="panel panel-default center-block">
        <div class="panel-heading">
            Users
        </div>

        <ul class="list-group">
            {% for user in users %}
                <li class="list-group-item">{{ user }}
                    {%  if user.needs_activation %} <span class="label label-info">Needs confirmation</span> {%  endif %}
                    <a href="{{ url_for('delete_user', id= user.id) }}"><span class="glyphicon glyphicon-remove"/> </a>
                 </li>
            {% endfor %}
            <a href="{{ url_for('create_user')}}" class="list-group-item">New user</a>
        </ul>
    </div>




{% endblock %}